$range-display: block !default;
$range-width: 100% !default;

//Magins
$range-margin-top: $form-item-elements-margin-top !default;
$range-margin-bottom: $form-item-elements-margin-bottom !default;
$range-margin-left: $form-item-elements-margin-left !default;
$range-margin-right: $form-item-elements-margin-right !default;
$range-margin-for-screens: $form-item-elements-margin-for-screens !default;

//Outline
$range-outline-width: 0 !default;
$range-outline-style: null !default;
$range-outline-color: null !default;

//Borders
$range-border-width: 0 !default;
$range-border-style: null !default;
$range-border-color: null !default;
$range-borders: () !default;

//Background
$range-background-image: null !default;
$range-background-position: null !default;
$range-background-repeat: null !default;
$range-background-color: transparent !default;
$range-background-attachment: null !default;

//Paddings
$range-padding-top: 0 !default;
$range-padding-bottom: 0 !default;
$range-padding-left: 0 !default;
$range-padding-right: 0 !default;

//Appearance
$range-appearance: none !default;

//Box shadow
$range-box-shadow: none !default;

//Extra style
//@mixin range-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Focus
//Outline
$range-focus-outline-width: 0 !default;
$range-focus-outline-style: null !default;
$range-focus-outline-color: null !default;
$range-focus-outline-make-shorthand: true !default;

//Borders
$range-focus-border-width: 0 !default;
$range-focus-border-style: null !default;
$range-focus-border-color: null !default;
$range-focus-border-make-shorthand: true !default;
$range-focus-borders: () !default;

//Extra style
//@mixin range-focus-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Thumb
$range-thumb-cursor: pointer !default;
$range-thumb-width: 1.4rem !default;
$range-thumb-height: $range-thumb-width !default;
$range-thumb-appearance: none !default;

//Borders
$range-thumb-border-width: 1px !default;
$range-thumb-border-style: solid !default;
$range-thumb-border-color: get-color(grey, 400) !default;
$range-thumb-borders: () !default;
$range-thumb-border-radius: 50% !default;

//Background
$range-thumb-background-image: null !default;
$range-thumb-background-position: null !default;
$range-thumb-background-repeat: null !default;
$range-thumb-background-color: get-color(white) !default;
$range-thumb-background-attachment: null !default;

//Extra style
//@mixin range-thumb-extra-style($browser-prefix: null) {} //Create this mixin before import module when you want add some special style for element

//Focus
//Borders
$range-focus-thumb-border-width: null !default;
$range-focus-thumb-border-style: null !default;
$range-focus-thumb-border-color: $range-thumb-border-color !default;
$range-focus-thumb-borders: () !default;
$range-focus-thumb-border-make-shorthand: false !default;

//Background
$range-focus-thumb-background-image: null !default;
$range-focus-thumb-background-position: null !default;
$range-focus-thumb-background-repeat: null !default;
$range-focus-thumb-background-color: $range-thumb-background-color !default;
$range-focus-thumb-background-attachment: null !default;
$range-focus-thumb-background-make-shorthand: false !default;

//Extra style
//@mixin range-focus-thumb-extra-style($browser-prefix: null) {} //Create this mixin before import module when you want add some special style for element

//Disabled
$range-disabled-thumb-cursor: default !default;

//Borders
$range-disabled-thumb-border-width: null !default;
$range-disabled-thumb-border-style: null !default;
$range-disabled-thumb-border-color: get-color(grey, 300) !default;
$range-disabled-thumb-borders: () !default;
$range-disabled-thumb-border-make-shorthand: false !default;

//Background
$range-disabled-thumb-background-image: null !default;
$range-disabled-thumb-background-position: null !default;
$range-disabled-thumb-background-repeat: null !default;
$range-disabled-thumb-background-color: $range-thumb-background-color !default;
$range-disabled-thumb-background-attachment: null !default;
$range-disabled-thumb-background-make-shorthand: false !default;

//Extra style
//@mixin range-disabled-thumb-extra-style($browser-prefix: null) {} //Create this mixin before import module when you want add some special style for element

//Track
$range-track-cursor: pointer !default;
$range-track-width: 100% !default;
$range-track-height: 0.57rem !default;

//Borders
$range-track-border-width: 0 !default;
$range-track-border-style: null !default;
$range-track-border-color: null !default;
$range-track-borders: () !default;
$range-track-border-radius: 0 !default;

//Background
$range-track-background-image: null !default;
$range-track-background-position: null !default;
$range-track-background-repeat: null !default;
$range-track-background-color: get-color(grey, 400) !default;
$range-track-background-attachment: null !default;

//Transition
$range-track-transition-property: (border-color, background) !default;
$range-track-transition-duration: $elements-transition-duration !default;
$range-track-transition-timing-function: $elements-transition-function !default;
$range-track-transition-delay: null !default;

//Extra style
//@mixin range-track-extra-style($browser-prefix: null) {} //Create this mixin before import module when you want add some special style for element

//Focus
//Background
$range-focus-track-background-image: null !default;
$range-focus-track-background-position: null !default;
$range-focus-track-background-repeat: null !default;
$range-focus-track-background-color: $primary-color !default;
$range-focus-track-background-attachment: null !default;
$range-focus-track-background-make-shorthand: false !default;

//Extra style
//@mixin range-focus-track-extra-style($browser-prefix: null) {} //Create this mixin before import module when you want add some special style for element

//Disabled
$range-disabled-track-cursor: default !default;

//Background
$range-disabled-track-background-image: null !default;
$range-disabled-track-background-position: null !default;
$range-disabled-track-background-repeat: null !default;
$range-disabled-track-background-color: get-color(grey, 300) !default;
$range-disabled-track-background-attachment: null !default;
$range-disabled-track-background-make-shorthand: false !default;

//Extra style
//@mixin range-disabled-track-extra-style($browser-prefix: null) {} //Create this mixin before import module when you want add some special style for element