@mixin include-range-colors($colors-map) {
    //Range thumb
    &::-webkit-slider-thumb {
        @if map-has-key($colors-map, thumb-border-color) and map-get($colors-map, thumb-border-color) {
            border-color: map-get($colors-map, thumb-border-color);
        }
        @if map-has-key($colors-map, thumb-background) and map-get($colors-map, thumb-background) {
            background: map-get($colors-map, thumb-background);
        }
    }

    &::-moz-range-thumb {
        @if map-has-key($colors-map, thumb-border-color) and map-get($colors-map, thumb-border-color) {
            border-color: map-get($colors-map, thumb-border-color);
        }
        @if map-has-key($colors-map, thumb-background) and map-get($colors-map, thumb-background) {
            background: map-get($colors-map, thumb-background);
        }
    }

    &::-ms-thumb {
        @if map-has-key($colors-map, thumb-border-color) and map-get($colors-map, thumb-border-color) {
            border-color: map-get($colors-map, thumb-border-color);
        }
        @if map-has-key($colors-map, thumb-background) and map-get($colors-map, thumb-background) {
            background: map-get($colors-map, thumb-background);
        }
    }

    //Range track
    &::-webkit-slider-runnable-track {
        @if map-has-key($colors-map, track-background) and map-get($colors-map, track-background) {
            background: map-get($colors-map, track-background);
        }
    }

    &::-moz-range-track {
        @if map-has-key($colors-map, track-background) and map-get($colors-map, track-background) {
            background: map-get($colors-map, track-background);
        }
    }

    &::-ms-fill-lower {
        @if map-has-key($colors-map, track-background) and map-get($colors-map, track-background) {
            background: map-get($colors-map, track-background);
        }
    }

    &::-ms-fill-upper {
        @if map-has-key($colors-map, track-background) and map-get($colors-map, track-background) {
            background: map-get($colors-map, track-background);
        }
    }

    &:focus {
        //Range thumb
        &::-webkit-slider-thumb {
            @if map-has-key($colors-map, focus-thumb-border-color) and map-get($colors-map, focus-thumb-border-color) {
                border-color: map-get($colors-map, focus-thumb-border-color);
            }
            @if map-has-key($colors-map, focus-thumb-background) and map-get($colors-map, focus-thumb-background) {
                background: map-get($colors-map, focus-thumb-background);
            }
        }

        &::-moz-range-thumb {
            @if map-has-key($colors-map, focus-thumb-border-color) and map-get($colors-map, focus-thumb-border-color) {
                border-color: map-get($colors-map, focus-thumb-border-color);
            }
            @if map-has-key($colors-map, focus-thumb-background) and map-get($colors-map, focus-thumb-background) {
                background: map-get($colors-map, focus-thumb-background);
            }
        }

        &::-ms-thumb {
            @if map-has-key($colors-map, focus-thumb-border-color) and map-get($colors-map, focus-thumb-border-color) {
                border-color: map-get($colors-map, focus-thumb-border-color);
            }
            @if map-has-key($colors-map, focus-thumb-background) and map-get($colors-map, focus-thumb-background) {
                background: map-get($colors-map, focus-thumb-background);
            }
        }

        //Range track
        &::-webkit-slider-runnable-track {
            @if map-has-key($colors-map, focus-track-background) and map-get($colors-map, focus-track-background) {
                background: map-get($colors-map, focus-track-background);
            }
        }

        &::-moz-range-track {
            @if map-has-key($colors-map, focus-track-background) and map-get($colors-map, focus-track-background) {
                background: map-get($colors-map, focus-track-background);
            }
        }

        &::-ms-fill-lower {
            @if map-has-key($colors-map, focus-track-background) and map-get($colors-map, focus-track-background) {
                background: map-get($colors-map, focus-track-background);
            }
        }

        &::-ms-fill-upper {
            @if map-has-key($colors-map, focus-track-background) and map-get($colors-map, focus-track-background) {
                background: map-get($colors-map, focus-track-background);
            }
        }
    }
}

@mixin range-colors($colors-map) {
    input[type="range"] {
        @include include-range-colors($colors-map);
    }
}

@mixin class-range-colors($class, $colors-map) {
    input[type="range"].#{$class} {
        @include include-range-colors($colors-map);
    }
}
